hotel1.dtd

<!ELEMENT hotel (reserva+)>
<!ELEMENT reserva (nombre, documentacion, precio, pagado, planta, tipo)>
<!ATTLIST reserva id CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT documentacion (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT pagado (#PCDATA)>
<!ELEMENT planta (#PCDATA)>
<!ELEMENT tipo (#PCDATA)>
